<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Angie's Art Shop</title>
		<script src="https://unpkg.com/htmx.org@1.9.2"></script>
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	<body>
		<!--Navigation bar-->
		<header class="navbar">
			<div class="navbar-container">
				<!--Title-->
				<div class="navbar-brand">
					<a href="/">Art by Angelina</a>
				</div>
				<!--Navigation Buttons-->
				<nav class="navbar-menu">
					<a href="/" class="nav-button">Home</a>
					<a href="/gallery" class="nav-button">Gallery</a>
					<a href="/about" class="nav-button">About</a>
					<a href="/contact" class="nav-button">Contact</a>
					<a href="/cart" class="nav-button">🛒 Cart</a>
				</nav>
			</div>
		</header>

		<main> 
			<div class="overlay">
				<a href="/gallery", class="shop-button">Shop Now</a>
			</div>
		</main>
	</body>
</html>
